/**
 * Site header
 */
.site-header {
    min-height: 50px;
    // Positioning context for the mobile navigation icon
    background: #f3f3f3;
    position: relative;
    padding-top: 20px;
}

.site-title {
    font-size: 100%;
    line-height: 35px;
    //letter-spacing: 2px;
    font-family:  "anonymousregular";
    text-decoration: none;
    color: $grey-color;

    &:hover {
        color: $grey-color;
    }
}

.site-nav {
    float: right;
    font-size: 0.75em;
    line-height: 35px;

    .page-link {
        color: $text-color;
        //line-height: $base-line-height;
		text-decoration: none;
        font-family:  "anonymousregular";
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #f1f1f1;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 14px;
    color: lighten($grey-color,10%);
    margin-left: -$spacing-unit / 2;
    letter-spacing: 0.3px;
    @extend %clearfix;
	> a{
		color: lighten($grey-color,10%);
	}
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    padding-top: 40px;

    > li {
        margin-bottom: $spacing-unit;
        list-style-type: none;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
	font-style: italic;
    margin-bottom: 40px;
    > time{
        margin-top: 5px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid #e6e6e6;
    }
}

.post-link {
    //display: block;
    font-size: 17px;
    text-decoration: none;
}

.post-archive {
	margin-left: 0;
	padding-top: 20px;

	> h1 {
        font-family: "anonymousregular";
        font-size: 18px;
		margin-top: 20px;
		margin-bottom: 10px;
        list-style-type: none;
	}

	> li {
        margin-left: $spacing-unit;
		font-size: 16px;
        padding-top: 3px;
        list-style-type: disc;
        > a{
            text-decoration: none;
        }
    }
}

.post-categories {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

/**
  * 分类列表
  */
.list-categories{
	margin-left: 0;
	//padding-top: 20px;
    list-style-type: none;

	> h1 {
        font-family: "anonymousregular";
		margin-top: 20px;
		margin-bottom: 10px;
        font-size: 18px;
	}

	> li {
        margin-left: $spacing-unit;
		font-size: 16px;
        padding-top: 3px;
        list-style-type: disc;
        > a{
            text-decoration: none;
        }
    }
}

.categories{
    height: auto;
    >a{
        text-decoration: none;
        font-family: "anonymousregular";
        font-size: 15px;
        padding: 3px 5px 1px;
        border-radius: 4px;
        cursor: pointer;
        background: #ccc;
        color: #3C3C3C;
        margin-right: 5px;
    }
}

.list-timeline {
	border-left: 4px solid $grey-color-light;
	list-style: none;

	>li {
		margin-left: 20px;
	}
}

/**
 * Posts
 */
.post-header {
    text-align: center;
    //margin-bottom: $spacing-unit;
	padding-top: 40px;
}

.post-title {
    font-size: 25px;
    line-height: 1;
    padding-bottom: 10px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
	text-align: justify;

    h2 {
        font-size: 18px;
        font-weight: bold;
        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    p {
        font-size: 16px;
        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

.image-wrapper {
    padding-top: 5px;
    margin-bottom: 20px;
}
