/**
 * Site header
 */
.site-header {
    min-height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;

	max-width: 820px;
    margin-right: auto;
    margin-left: auto;
}

.site-title {
    font-size: 24px;
    //font-weight: 100;
    line-height: 60px;
    //letter-spacing: 2px;
    font-family:  "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
    text-decoration: none;
    color: $grey-color;


    &:hover {
        color: $grey-color;
    }
}

.site-nav {
    float: right;
    line-height: 60px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
		text-decoration: none;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding-bottom: 40px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 14px;
    color: lighten($grey-color,10%);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
	> a{
		color: lighten($grey-color,10%);
	}
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    padding-top: 40px;

    > li {
        margin-bottom: $spacing-unit;
        list-style-type: none;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
	font-style: italic;
}

.post-link {
    display: block;
    font-size: 18px;
    text-decoration: none;
}

.post-archive {
	margin-left: 0;
	padding-top: 20px;

	> h1 {
		margin-top: 20px;
		margin-bottom: 10px;
        list-style-type: none;
	}

	> li {
        margin-left: $spacing-unit;
		font-size: 17px;
        padding-top: 3px;
        list-style-type: disc;
        > a{
            text-decoration: none;
        }
    }
}

.post-categories {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

/**
  * 分类列表
  */
.list-categories{
	margin-left: 0;
	padding-top: 20px;
    list-style-type: none;

	> h1 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	> li {
        margin-left: $spacing-unit;
		font-size: 17px;
        padding-top: 3px;
        list-style-type: disc;
        > a{
            text-decoration: none;
        }
    }
}

.list-timeline {
	border-left: 4px solid $grey-color-light;
	list-style: none;

	>li {
		margin-left: 20px;
	}
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
	padding-top: 40px;
}

.post-title {
    font-size: 30px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
	  text-align: justify;
    h1 {
        font-size: 30px;
        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h2 {
        font-size: 24px;
        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 18px;
        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}
