/* Smartphones (landscape and portrait) ----------- */
@media screen and (max-width: 800px) {

    div#timelineContainer{
        width: 100%;
    }

    div.timelineMajor{
        width: 100%;
    }

    div.timelineToggle {
       float:none;
    }

    .timelineMinor dt {
       font-size:1.2em;
       white-space: normal;
    }

    .timelineMinor dd h3 {
       font-size:1em;
       white-space: normal;
    }

    .timelineMinor dd {
        margin-left:20px;
        padding-left:0;
        width:100%;
    }

    .timelineEvent .media p {
       font-size:1em;
    }

    dl.timelineMinor {
       width: 100%;
       float:none;
       max-width:100%;
    }

    .timelineMinor dd{
        width: 95%;
    }

    .timelineEvent p {
       float:none;
       width: 95%;
    }

    .timelineEvent blockquote {
       float:none;
       width:200px;
       font-size:1em;
    }

    .timelineEvent div.media {
        float: right;
        width: 50%;
    }

    .timelineEvent .media img {
        float: right;
        height: 50%;
        border: 0px;
        margin: 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

    }
}
