<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!--网页不可复制粘贴
        <body
            leftmargin=0
            topmargin=0
            ondragstart='return false'
            onselectstart ='return false'
            onselect='document.selection.empty()'
            oncopy='document.selection.empty()'
            onbeforecopy='return false'
            onmouseup='document.selection.empty()'>
        -->
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
	  <gotop>[<a href="#top" target="_self"><i>go top</i></a>]</gotop>
    </div>
    {% include footer.html %}
  </body>
</html>
